<h1>Hello</h1>
<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>

<p class="blue">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore ea in natus nisi,
  possimus praesentium qui ratione rem sequi, sint temporibus, vel voluptates.
  Eos laudantium nam nisi reiciendis voluptatibus!</p>

<p class="red">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore ea in natus nisi,
  possimus praesentium qui ratione rem sequi, sint temporibus, vel voluptates.
  Eos laudantium nam nisi reiciendis voluptatibus!</p>
